@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');  
body{ 
  font-family: 'Montserrat', sans-serif;
}
.surveyor {    /*setting size of surveyor image*/
  width: 200px;
  height: 200px;
}
.divRed {      /*traditional construction colours
  border: 5px outset yellow;
  background-color: red;
}
.divYellow {    / Traditional construction colour
  border: 5px outset red;
  background-color: yellow;
}
